h1 {
    color: red;
}

table .btn-align {
    margin: 0 10px 0 0;
}

table tbody tr td {
    vertical-align: middle !important;
}

form.custom-form select {
    text-align: center;
    text-align-last: center;
}

form.custom-form input#from_date,input#to_date,input#submit_date {
    text-align: center;
}

.row-owner {
    color: #007bff !important;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
}

.colored-toast.swal2-icon-error {
    background-color: #f27474 !important;
}

.colored-toast.swal2-icon-warning {
    background-color: #f8bb86 !important;
}

.colored-toast.swal2-icon-info {
    background-color: #3fc3ee !important;
}

.colored-toast.swal2-icon-question {
    background-color: #87adbd !important;
}

.colored-toast .swal2-title {
    color: white;
}

.colored-toast .swal2-close {
    color: white;
}

.colored-toast .swal2-html-container {
    color: white;
}
div.event-detail-text-wrapper {
    margin-bottom: 5px;
}
span.event-detail-inner-text {
    margin-right: 15px;
}

.approve-status {
    color: #28a745;
}
.decline-status {
    color: #FF0000;
}

body.login-page.swal2-shown.swal2-height-auto {
    height: 100vh !important;
}

.required:after {
    content: "*";
    color: red;
}
